

.PdfEditor input,
.PdfEditor button {
  font: inherit;
}

.PdfEditor header {
  background-color: #2f7ab4;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.PdfEditor header h1 {
  font-size: inherit;
  margin: 0;
}

.PdfEditor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.PdfEditor__container__load {
  margin-top: 1em;
  color: white;
}

.PdfEditor__container__document {
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}

.PdfEditor__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PdfEditor__container__document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.PdfEditor__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}
.custom-button {
  border-color: black !important; /* Default color */
}
.custom-button.clicked {
  background-color: blue;
}