body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: left;
}
